<%= form_for :llight, url: change_light_state_path  do |f| %>
    <div class="row-ns">
        <p class="form-ns__text">ON: </p>
        <label class="form-ns__switch">
          <input type="checkbox" <% if @light["on"] %>checked<% end %> class="form-ns__checkbox">
          <span class="form-ns__slider round"></span>
        </label>
    </div>
    <div class="row-ns" style="margin-bottom: 0;">
        <div class="row-ns__even">
            <%= f.text_field :hue, placeholder:"Hue", value: @light["hue"], autofocus: true, class: "form-ns__input" %>
            <%= f.label :hue, class: "form-ns__label" %>
        </div>
        <div class="row-ns__even">
            <%= f.text_field :bright, placeholder:"Brightness", value: @light["bri"], autofocus: true, class: "form-ns__input" %>
            <%= f.label :bright, class: "form-ns__label" %>
        </div>
    </div>
    <p class="form-ns__input" style="width: auto; margin: 0;">Colour</p>
    <p class="range-field" style="margin-top: 0;">
        <input type="range" id="colour_range" min="0" max="100" step="1" value="<%= @light["hue_percent"] %>" />
    </p>
    <p class="form-ns__input" style="width: auto; margin: 0;">Brightness</p>
    <p class="range-field" style="margin-top: 0;">
        <input type="range" id="bri_range" min="0" max="100" step="1" value="<%= @light["bri_percent"] %>" />
    </p>
    <p class="form-ns__input" style="width: auto; margin: 0;">Colour Change Speed</p>
    <p class="range-field" style="margin-top: 0;">
        <input type="range" id="colour_speed_range" min="0" max="50" step="5" />
    </p>
    <p class="form-ns__input" style="width: auto; margin: 0;">Brightness Change Speed</p>
    <p class="range-field" style="margin-top: 0;">
        <input type="range" id="bri_speed_range" min="0" max="50" step="5" />
    </p>
    <div class="row-ns">
        <input type="hidden" id="duration"/>
        <div class="row-ns__even" style="margin-right: 5px;">
            <button type="button" class="form-ns__btn" id="time_15">15 mins</button>
        </div>
        <div class="row-ns__even" style="margin-right: 5px;">
            <button type="button" class="form-ns__btn" id="time_30">30 mins</button>
        </div>
        <div class="row-ns__even" style="margin-right: 5px;">
            <button type="button" class="form-ns__btn" id="time_45">45 mins</button>
        </div>
        <div class="row-ns__even">
            <button type="button" class="form-ns__btn" id="time_60">60 mins</button>
        </div>
    </div>
    <%= f.submit "UPDATE", class: "form-ns__btn" %>
<% end %>