<%= form_for :light, url: test_light_connection_path  do |f| %>
    <div class="row-ns">
        <p class="form-ns__text">ON: </p>
        <label class="form-ns__switch">
          <input type="checkbox" class="form-ns__checkbox">
          <span class="form-ns__slider round"></span>
        </label>
    </div>
    <div class="row-ns" style="margin-bottom: 0;">
        <div class="row-ns__even">
            <%= f.text_field :hue, placeholder:"Hue", autofocus: true, class: "form-ns__input" %>
            <%= f.label :hue, class: "form-ns__label" %>
        </div>
        <div class="row-ns__even">
            <%= f.text_field :bright, placeholder:"Brightness", autofocus: true, class: "form-ns__input" %>
            <%= f.label :bright, class: "form-ns__label" %>
        </div>
    </div>
    <p class="form-ns__input" style="width: auto; margin: 0;">Color Change Speed</p>
    <p class="range-field" style="margin-top: 0;">
        <input type="range" id="test5" min="0" max="50" step="5" />
    </p>
    <p class="form-ns__input" style="width: auto; margin: 0;">Brightness Change Speed</p>
    <p class="range-field" style="margin-top: 0;">
        <input type="range" id="test5" min="0" max="50" step="5" />
    </p>
    <div class="row-ns">
        <input type="hidden" id="duration"/>
        <div class="row-ns__even" style="margin-right: 5px;">
            <button type="button" class="form-ns__btn" id="time_15">15 mins</button>
        </div>
        <div class="row-ns__even" style="margin-right: 5px;">
            <button type="button" class="form-ns__btn" id="time_30">30 mins</button>
        </div>
        <div class="row-ns__even" style="margin-right: 5px;">
            <button type="button" class="form-ns__btn" id="time_45">45 mins</button>
        </div>
        <div class="row-ns__even">
            <button type="button" class="form-ns__btn" id="time_60">60 mins</button>
        </div>
    </div>
    <%= f.submit "UPDATE", class: "form-ns__btn" %>
<% end %>